$index: calc(1vw + 1vh);

.player {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, minmax(auto, 30px));
  align-self: start;
  justify-content: space-around;
  max-width: 240px;
  margin: 10px 0 0 10px;
  background-color: rgba(0, 0, 0, 0.514);
  border-radius: 10px;
  user-select: none;
}

.prev-song {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background: url('../../../icons/next.png') center / 60% no-repeat;
  transform: rotate(180deg);
}
.next-song {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background: url('../../../icons/next.png') center / 60% no-repeat;
}

.play {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background: url('../../../icons/play.png') center / 60% no-repeat;
}

.play.active {
  background: url('../../../icons/pause.png') center / 60% no-repeat;
}

.player-list {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  background: url('../../../icons/list.png') center / 60% no-repeat;
}

.player button {
  width: 50px;
  height: 50px;
  color: transparent;
  border-radius: 50%;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
  &:active {
    transform: scale(0.8);
  }
}

.song-name {
  grid-column: span 4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  justify-self: center;
  color: white;
  font-size: 20px;
}

.playlist {
  overflow: hidden;
  position: absolute;
  width: 70%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.876);
  color: white;
  border-radius: 2%;
  user-select: none;
}

.playlist__title {
  text-align: center;
  padding: 10px;
}

.playlist__list {
  overflow-y: scroll;
  height: 90%;
  padding: 7px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, auto));
  gap: 10px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.playlist-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 1px solid rgba(207, 207, 207, 0.292);
  border-radius: 5px;
  background-position: 50% 34%;
  background-repeat: no-repeat;
  background-size: 70%;
  padding-top: 110%;
  cursor: pointer;
  transition: all linear 0.2s;
  &:hover {
    background-color: rgb(252, 88, 31);
  }
}

.playlist-item.playing {
  background-color: rgb(252, 88, 31);
  border: 1px solid rgb(0, 0, 0);
  animation: pulse 1.5s linear infinite;
}
.playlist-item__title {
  position: absolute;
  bottom: 1%;
  right: 50%;
  width: 100%;
  max-width: 115px;
  padding-bottom: 10px;
  text-align: center;
  transform: translate(50%, 0);
}

.close {
  position: absolute;
  right: 0.5vh;
  top: 0.5vh;
  width: 40px;
  height: 40px;
  cursor: pointer;
  &::after,
  &::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 3px;
    background-color: rgba(240, 248, 255, 0.738);
    top: 50%;
    left: 50%;
    transition: background-color 0.3s linear;
  }
  &::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &:hover {
    &::after,
    &::before {
      background-color: rgb(240, 248, 255);
    }
  }
}

@keyframes pulse {
  0% {
    background-color: rgb(252, 88, 31);
  }
  50% {
    background-color: rgb(252, 141, 31);
  }
  100% {
    background-color: rgb(252, 88, 31);
  }
}
